# This is a basic workflow to help you get started with Actions

name: Create Release

# Controls when the workflow will run
on:
  push:
    tags: 
     - 'releases/*'
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: setup-msbuild
        uses: microsoft/setup-msbuild@v1.0.3
      - name: Build
        run: msbuild IOTLinkTTS.sln /p:Configuration=Release
      - name: Zip Release
        # You may pin to the exact commit or the version.
        uses: TheDoctor0/zip-release@0.6.0
        with:        # Filename for archive          
          # Working directory before zipping
          path: bin/Release/
          # List of excluded files / directories
          exclusions: "IOTLinkAPI.dll IOTLinkTTS.pdb"
      - uses: ncipollo/release-action@v1
        if: startsWith( github.ref, 'refs/tags/releases/') 
        with:
          artifacts: "/release.zip"
          bodyFile: "Changes.md"
          token: ${{ secrets.GITHUB_TOKEN }}
